@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --primaryColor: #125488;
}
#name {
  color: var(--primaryColor);
}
#sub-title {
  font-size: 10px;
  color: grey;
}
.web-nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px 0;
}
.nav-links {
  margin: 0 7px;
  color: black;
}
.nav-links:hover {
  color: var(--primaryColor);
}
.hire-me-btn {
  border: 1px solid var(--primaryColor);
  padding: 2px 10px;
  font-size: 14px;
  color: var(--primaryColor);
  border-radius: 10px;
  box-shadow: 1px 1px var(--primaryColor);
}
a {
  text-decoration: none;
}
.body {
  margin: 20px 30px;
}
#image {
  height: 200px;
  width: 200px;
  background-color: var(--primaryColor);
  border-radius: 50%;
  margin: 20px auto;
}
#my-resume {
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  color: white;
  padding: 10px 15px;
  margin-right: 30px;
  box-shadow: 1px 1px black;
}
#hire-me-btn {
  padding: 10px 18px;
  border: 1px solid var(--primaryColor);
  background-color: white;
  color: var(--primaryColor);
  box-shadow: 1px 1px var(--primaryColor);
}
#my-resume:hover {
  cursor: pointer;
}
#hire-me-btn:hover {
  cursor: pointer;
}
.btn-div {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
h3 {
  color: var(--primaryColor);
}
#about {
  color: grey;
  font-size: 12px;
  margin-bottom: 30px;
}
#project-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  flex-wrap: wrap;
}
#projectImage {
  height: 100px;
  width: 160px;
  display: block;
}
#projectDiv {
  width: 160px;
}
#projectName {
  color: grey;
  font-size: 10px;
}
#projectLink {
  display: block;
  text-align: center;
  color: var(--primaryColor);
}
.footer {
  background-color: var(--primaryColor);

  padding: 30px 20vw;
}
.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h5 {
  color: white;
  margin: 5px 10px;
}
.contact {
  color: white;
}
#contact-title {
  color: black;
  text-align: center;
}

@media only screen and (min-width: 780px) {
  .nav-links {
    margin: 0 20px;
  }
  .hire-me-btn {
    margin: 0px 10px 0px 40px;
  }
  .body {
    margin: 30px 20vw;
  }
  #name {
    font-size: 40px;
    font-weight: bold;
  }
  #sub-title {
    font-size: 14px;
  }
  #image {
    float: right;
  }
  .btn-div {
    margin: 10vh 0px;
    justify-content: left;
  }
  #image {
    height: 300px;
    width: 300px;
  }
  h3 {
    text-align: center;
  }
  #about {
    font-size: 16px;
  }
  .contact-container {
    justify-content: center;
  }
}
