@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Teko:wght@300;500;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Teko', sans-serif;

}
.header{
    padding: 10px;
    box-shadow: 0px 5px 5px #CCCCCC;
    
}
.icon{
    font-size: 30px;
    display: inline-block;
    position: relative;
}
.icon:hover{
    cursor: pointer;
}
.drawer{
    width: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
   
    height: 100vh;
    padding: 10px;
    box-shadow: 5px 0px 5px #CCCCCC;
    display: none;
}
li{
    list-style: none;
}
.nav-item{
    text-decoration: none;
    color: black;
    margin: 10px 0px;
    display: block;
    transition: font-size 1s;
}
.cancel{
    display: block;
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    transition: font-size 1s;
}
.cancel:hover{
    font-size: 20px;
}
.nav-item:hover{
    font-size: 20px;
}
#welcome{
    text-align: center;
    display: inline-block;
    width: 300px
    
}
.body-container{
    margin: 10px;
    
}
#title, #my-tech{
    text-align: center;
  
    opacity: 0;
    transition: opacity 3s ease-in;
   
}
.image-container{
    height: 250px;
    width: 250px;
    background-color: black;
    margin: 10px auto;
    border-radius: 50%;
  

}
#aim{
    font-weight: 100;
    color: #917C78;
    text-align: center;
}
#my-tech{
    margin: 5px 0px;
}
.tech-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tech-one, .tech-two, .tech-three{
    margin: 10px auto;
    border: 1.5px solid #917C78;
    padding: 5px;
    
}
.tech-three{
    padding: 20px 35px;
}

.logo-one{
    background-image: url(../images/dart-small.png);
    height: 39px;
    width: 50px;
    display: inline-block;
    margin-left: 20%;
}.logo-two{
    background-image: url(../images/flutter-small.png);
    height: 38px;
    width: 50px;

    display: inline-block;
}
.logo-firebase{
    background-image: url(../images/firebase.png);
    height: 100px;
    width: 100px;
    display: block;
    margin: 2px 30px;
}
.logo-sql{
    background-image: url('../images/sql.png');
    height: 75px;
    width: 100px;
    margin: 0 auto;
    
}
.tech-title{
    text-align: center;
}
#flutter-btn, #firebase-btn, #sql-btn{
    margin: 0 auto;
    display: block;
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
}
#flutter-experience, #firebase-experience, #sql-experience{
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin: 5px 0;
    opacity: 0;
    display: none;
    transition: opacity 5s;
}
.currently{
    text-align: center;
}
.learning-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item-one{
    display: inline-block;
}
.item-one > h6{
    text-align: center;
    font-style: italic;
}
.desktop-nav{
    display: none;
}
#my-project{
    text-align: center;
    margin: 20px 0;
}
#project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
#project{
    display: inline-block;
    background-color: black;
    padding: 10px;
    margin: 5px;
}
#project > h5{
    text-align: center;
    color: white;

}
a{
    text-decoration: none;
    color: white;
   
    text-align: center;
}
.icon-github{
    display: block;
    text-align: center;
    color: white;
    font-size: 30px;
   
}
.link{
    font-size: 20px;
    margin-top: 10px;
}


@media only screen and (min-width: 700px){
    *{
        padding: 0px;
        margin:0px;
    }
    .icon{
        display: none;
    }
    .drawer{
        display: none;
    }
    #welcome{
        display: none;
    }
    .body-container{
        margin: 10px 22vw ;
    }
    #title{
        text-align: left;
        font-size: 50px;
    }
    .image-container{
        float: right;
    }
    .learning-one{
        justify-content: center;
    }
    .desktop-nav{
        display: block;
        width: 250px;
       margin: 0 auto;
    }
    .desktop-nav > a{
        text-decoration: none;
        color: black;
        margin: 0 10px;
    }
    .desktop-nav > a:hover{
        text-decoration: underline;
    }
  
}